<div id="sidebar">
    <!-- Sidebar content here -->
    
        <div class="user-profile">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="User Profile Image">
            <h2> <%= user.name %></h2>
            <p> <%= user.username %></p>
        </div>
        <ul class="sidebar-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Messages</a></li>
            <!-- Add more menu items as needed -->
        </ul>
        <button class="tweet-button"><a href="/profile/tweet">Tweet</a></button>
        <button  id="showPopupButton" class="logout-button"><a href="/logout">Logout</a></button>
     
    
</div>