<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Clone</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/tweet_form.css">
    <style>
        /* Your CSS styles here */
    </style>
</head>
<body>
<div id="main">
    <%- include('sidebar.ejs') %>
    <div id="main-content">
       
            <!-- Header content here -->

    

            <div class="tweet-form-container">
                <div class="user-profile">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="User Profile Image">
                    <h2><%- user.name %></h2>
                    <p><%- user.username %></p>
                </div>
                <div class="tweet-form">
                    <form action="/Tweet_submit">
                        <textarea id="tweet-content" placeholder="What's happening?"></textarea>
                    <div class="tweet-controls">
                        <!-- <label for="tweet-image" class="image-upload-button">Add Image</label>
                        <input type="file" id="tweet-image" accept="image/*">
                        <span id="char-count">140</span> -->
                         
                       
                        
                    </div>
                    </form>
                </div>
            </div>
        
            <div class="tweets">
                <!-- Tweets will be displayed here -->
            </div>

    </div>
</div>

    <script src="..javascripts/script.js"></script>
    <script src="../javascripts/tweet_form.js"></script>


</body>
</html>
